
  
  img {
      border-radius: 70%;
      
  }




  table,th,td{
    border:1px solid black;

  }


  #para1
  {
    color:green;
  }

  #para2
  {
    text-transform: uppercase;
  }


.navBar
{
background-color:gold;
border-color: black;
table-layout: middle;
}

.header
{
  background-color:gold;
  text-align: left;
}





  

