head{
  text-decoration-color: darkmagenta;
}
  
  
  img {
      border-radius: 70%;
      
  }




  table,th,td{
    border:1px solid black;

  }



table.ss
{
  background-color:burlywood;
  
}

  

