
  
  img {
      border-radius: 70%;
      
  }




  table,th,td{
    border:1px solid black;

  }


  #para1
  {
    color:black;
    text-align: center;
    
  }

  #para2
  {
    text-transform: uppercase;
  }

  *{
    padding:2px;
    margin:2px;
    shape-margin: 10%;
    
    
  }



.header
{
  padding:20px;
  text-align:center;
  background: #c2bbbe;
  color:black;
}

.navBar{
padding:40px;
text-align:center;
background: #c2bbbe;
color:white;





}






  

